{% extends '__base__.html' %}

{% block title %}Blogs List{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        {% for blog in blogs %}
            <article class="uk-article">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <p class="uk-article-meta">Created at{{ blog.created_at|datetime}}</p>
                <p>{{ blog.summary }}</p>
                <p><a href="/blog/{{ blog.id }}">Detail <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider">
        {% endfor %}
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">Links</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">123</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">abc</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">hahaha</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">:D</a></li>
            </ul>
        </div>
    </div>

{% endblock %}